# Scraper

The goal of this script is for solely education and recreational purposes. 
I intend to generate my first website scraper using a mock easily accessible site by Toscrape.

--> main goal:
 * understand how the process flow is structured when I want to create a scraper
 * understand the first surface-level usage of the main libraries
 * succed in replicating a model for next application, more advanced

# Scraping specific parts of the page using CSS marks

In [1]:
import requests
from bs4 import BeautifulSoup

import pandas   as pd 
import numpy    as numpy

In [9]:
# decide the page of interest
url = 'http://books.toscrape.com/'
# execute the request to extract the content of the page using request
    ## this is doing the job for me instead of openinf directly a page and clicking on the page etc...
requests.get(url)

response = requests.get(url)
# the object reacts somehow like a search - 200, 404 etc like websites status 

def condition (x):
    if x == 200:
        return  'Yes'
    else: 
        return 'No'
cond = condition(response.status_code)
print("IS status ok ? --> {}".format(cond))

IS status ok ? --> Yes

In [15]:
# let's get the content of the page 
response.content
# if i just display it, i see the whole html text , almost unreadeable...
response.text
# text is much more readeable 

extract = response.text
# how can I red the content for example in pandas???

In [28]:
# let's make the html content prettier
soup = BeautifulSoup(extract, 'html.parser')

In [46]:
# locate and extract specific placeholders
soup.find(id = "default").prettify()

# with this command we can find all the titles of the boosk 
soup.find_all("h3")

In [57]:
# this generates the 
python_jobs = soup.find_all(
    "h3"
)

In [71]:
"""
If we want to collect also the relevant added html for each of the element we looked for , we can use the following command .parent
"""

python_job_elements = [
    h3_element.parent for h3_element in python_jobs
]

type(python_job_elements[0])

# the new variables ocntains the html for each book in the list section
#print(python_job_elements[1])

"""
In order to find the elements that we look for we need to use find all again and look for the pieces we are interested in
"""

## parse the elements in 
for job_element in python_job_elements:
    # -- snip --
    links = job_element.find_all("a")
    for link in links:
        link_url = link["href"]
        #print(link.text.strip())
        print(f"Buy here: {link_url}\n")

Buy here: catalogue/a-light-in-the-attic_1000/index.html

Buy here: catalogue/a-light-in-the-attic_1000/index.html

Buy here: catalogue/tipping-the-velvet_999/index.html

Buy here: catalogue/tipping-the-velvet_999/index.html

Buy here: catalogue/soumission_998/index.html

Buy here: catalogue/soumission_998/index.html

Buy here: catalogue/sharp-objects_997/index.html

Buy here: catalogue/sharp-objects_997/index.html

Buy here: catalogue/sapiens-a-brief-history-of-humankind_996/index.html

Buy here: catalogue/sapiens-a-brief-history-of-humankind_996/index.html

Buy here: catalogue/the-requiem-red_995/index.html

Buy here: catalogue/the-requiem-red_995/index.html

Buy here: catalogue/the-dirty-little-secrets-of-getting-your-dream-job_994/index.html

Buy here: catalogue/the-dirty-little-secrets-of-getting-your-dream-job_994/index.html

Buy here: catalogue/the-coming-woman-a-novel-based-on-the-life-of-the-infamous-feminist-victoria-woodhull_993/index.html

Buy here: catalogue/the-coming-woman-a-novel-based-on-the-life-of-the-infamous-feminist-victoria-woodhull_993/index.html

Buy here: catalogue/the-boys-in-the-boat-nine-americans-and-their-epic-quest-for-gold-at-the-1936-berlin-olympics_992/index.html

Buy here: catalogue/the-boys-in-the-boat-nine-americans-and-their-epic-quest-for-gold-at-the-1936-berlin-olympics_992/index.html

Buy here: catalogue/the-black-maria_991/index.html

Buy here: catalogue/the-black-maria_991/index.html

Buy here: catalogue/starving-hearts-triangular-trade-trilogy-1_990/index.html

Buy here: catalogue/starving-hearts-triangular-trade-trilogy-1_990/index.html

Buy here: catalogue/shakespeares-sonnets_989/index.html

Buy here: catalogue/shakespeares-sonnets_989/index.html

Buy here: catalogue/set-me-free_988/index.html

Buy here: catalogue/set-me-free_988/index.html

Buy here: catalogue/scott-pilgrims-precious-little-life-scott-pilgrim-1_987/index.html

Buy here: catalogue/scott-pilgrims-precious-little-life-scott-pilgrim-1_987/index.html

Buy here: catalogue/rip-it-up-and-start-again_986/index.html

Buy here: catalogue/rip-it-up-and-start-again_986/index.html

Buy here: catalogue/our-band-could-be-your-life-scenes-from-the-american-indie-underground-1981-1991_985/index.html

Buy here: catalogue/our-band-could-be-your-life-scenes-from-the-american-indie-underground-1981-1991_985/index.html

Buy here: catalogue/olio_984/index.html

Buy here: catalogue/olio_984/index.html

Buy here: catalogue/mesaerion-the-best-science-fiction-stories-1800-1849_983/index.html

Buy here: catalogue/mesaerion-the-best-science-fiction-stories-1800-1849_983/index.html

Buy here: catalogue/libertarianism-for-beginners_982/index.html

Buy here: catalogue/libertarianism-for-beginners_982/index.html

Buy here: catalogue/its-only-the-himalayas_981/index.html

Buy here: catalogue/its-only-the-himalayas_981/index.html

In [75]:
# let's try to refine the search within the html directly

# get the url
from urllib import request


test = 'http://books.toscrape.com/'
# push the request 
extract = requests.get(test)
# apply soup
soup_page = BeautifulSoup(extract.text, 'html.parser')

In [99]:
# how to extract specific part withinthe HTML hierarchy
# to find the first and the component within the DOM
soup_page.a["href"]
# or 
soup_page.a.get("href")

'index.html'

In [105]:
# now I want to find all option for a specifc tag

soup_page.find('a') # same as before

# this gets all the content for the products in display on the page
soup_page.find(class_ = "product_pod") 
# first element with rating 3
soup_page.find(class_ = "star-rating Four") 
# find all
soup_page.find_all(class_ = "star-rating Four") 

###### better way to iterate
from collections import Counter
all_hrefs = [a.get('href') for a in soup.find_all('a')]
top_3_links = Counter(all_hrefs).most_common(3)
print(top_3_links)

[('index.html', 2), ('catalogue/a-light-in-the-attic_1000/index.html', 2), ('catalogue/tipping-the-velvet_999/index.html', 2)]

In [111]:
# in this other way we can instead use the CSS selectors to get the content specific in specific areas of the hierarchy
all_results = soup_page.select('article > h3')
results = [r.text for r in all_results]
print(results)

# article.nth-child(1)

['A Light in the ...', 'Tipping the Velvet', 'Soumission', 'Sharp Objects', 'Sapiens: A Brief History ...', 'The Requiem Red', 'The Dirty Little Secrets ...', 'The Coming Woman: A ...', 'The Boys in the ...', 'The Black Maria', 'Starving Hearts (Triangular Trade ...', "Shakespeare's Sonnets", 'Set Me Free', "Scott Pilgrim's Precious Little ...", 'Rip it Up and ...', 'Our Band Could Be ...', 'Olio', 'Mesaerion: The Best Science ...', 'Libertarianism for Beginners', "It's Only the Himalayas"]

Thanks to these elements we try now to extract other things from the page

* prices and boooks 
* if they are in staock

In [116]:
# to find prices method 1
all_results = soup_page.select('div > p')
results = [r.text for r in all_results]
print(results)

# find prices method 2
els = soup_page.find_all(class_ = "price_color")
for i in els:
    print(i.text.strip())

['Â£51.77', '\n\n    \n        In stock\n    \n', 'Â£53.74', '\n\n    \n        In stock\n    \n', 'Â£50.10', '\n\n    \n        In stock\n    \n', 'Â£47.82', '\n\n    \n        In stock\n    \n', 'Â£54.23', '\n\n    \n        In stock\n    \n', 'Â£22.65', '\n\n    \n        In stock\n    \n', 'Â£33.34', '\n\n    \n        In stock\n    \n', 'Â£17.93', '\n\n    \n        In stock\n    \n', 'Â£22.60', '\n\n    \n        In stock\n    \n', 'Â£52.15', '\n\n    \n        In stock\n    \n', 'Â£13.99', '\n\n    \n        In stock\n    \n', 'Â£20.66', '\n\n    \n        In stock\n    \n', 'Â£17.46', '\n\n    \n        In stock\n    \n', 'Â£52.29', '\n\n    \n        In stock\n    \n', 'Â£35.02', '\n\n    \n        In stock\n    \n', 'Â£57.25', '\n\n    \n        In stock\n    \n', 'Â£23.88', '\n\n    \n        In stock\n    \n', 'Â£37.59', '\n\n    \n        In stock\n    \n', 'Â£51.33', '\n\n    \n        In stock\n    \n', 'Â£45.17', '\n\n    \n        In stock\n    \n']
Â£51.77
Â£53.74
Â£50.10
Â£47.82
Â£54.23
Â£22.65
Â£33.34
Â£17.93
Â£22.60
Â£52.15
Â£13.99
Â£20.66
Â£17.46
Â£52.29
Â£35.02
Â£57.25
Â£23.88
Â£37.59
Â£51.33
Â£45.17

In [120]:

# instock?  method 1
in_stock = soup_page.select('div > p')
results = [r.text for r in in_stock]
print(results)

# stock method 2
stock = soup_page.find_all(class_ = "instock availability")
for i in stock:
    print(i.text.strip())

## the first method need extra parsing

['Â£51.77', '\n\n    \n        In stock\n    \n', 'Â£53.74', '\n\n    \n        In stock\n    \n', 'Â£50.10', '\n\n    \n        In stock\n    \n', 'Â£47.82', '\n\n    \n        In stock\n    \n', 'Â£54.23', '\n\n    \n        In stock\n    \n', 'Â£22.65', '\n\n    \n        In stock\n    \n', 'Â£33.34', '\n\n    \n        In stock\n    \n', 'Â£17.93', '\n\n    \n        In stock\n    \n', 'Â£22.60', '\n\n    \n        In stock\n    \n', 'Â£52.15', '\n\n    \n        In stock\n    \n', 'Â£13.99', '\n\n    \n        In stock\n    \n', 'Â£20.66', '\n\n    \n        In stock\n    \n', 'Â£17.46', '\n\n    \n        In stock\n    \n', 'Â£52.29', '\n\n    \n        In stock\n    \n', 'Â£35.02', '\n\n    \n        In stock\n    \n', 'Â£57.25', '\n\n    \n        In stock\n    \n', 'Â£23.88', '\n\n    \n        In stock\n    \n', 'Â£37.59', '\n\n    \n        In stock\n    \n', 'Â£51.33', '\n\n    \n        In stock\n    \n', 'Â£45.17', '\n\n    \n        In stock\n    \n']
In stock
In stock
In stock
In stock
In stock
In stock
In stock
In stock
In stock
In stock
In stock
In stock
In stock
In stock
In stock
In stock
In stock
In stock
In stock
In stock

In [122]:
# New test

new_url = 'https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(nominal)'

In [1]:
## importing the html page completely 

import datetime
now = datetime.datetime.now()
year = now.year


def url_to_file(url, file_name = "page.html"):
    # requesting url
    r = requests.get(url)
    if r.status_code == 200:
        html_text = r.text
        with open(f'page-{year}', 'w') as f:
            f.write(html_text)
        return html_text
    return ""

# Import Tables 
https://www.youtube.com/watch?v=G8ZJwhOsmTw&ab_channel=Learnerea

https://hackernoon.com/a-guide-to-scraping-html-tables-with-pandas-and-beautifulsoup

Tables can be tricky because:
* they can be simple line table, with plain data , located with thead, tr, th, tr, td
* filled with JS, so more complicated to manage.

In [31]:
url1 = 'https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(nominal)'
url2 = 'https://www.boxofficemojo.com/year/world/'

In [44]:
page = requests.get(url2)
soup_page = BeautifulSoup(page.content, 'html.parser')

table = soup_page.find('thead')
    # these provide the same result
    # id = "table"
    #class_ = "imdb-scroll-table"
#table = soup_page.select()

In [52]:
# shortcut version with pandas
pd.read_html(url1)[2]

    Country/Territory UN Region IMF[1][13]            United Nations[14]  \
    Country/Territory UN Region   Estimate       Year           Estimate
0               World         —   93863851       2021           87461674
1       United States  Americas   25346805       2022           20893746
2               China      Asia   19911593  [n 2]2022           14722801
3               Japan      Asia    4912147       2022            5057759
4             Germany    Europe    4256540       2022            3846414
..                ...       ...        ...        ...                ...
212             Palau   Oceania        244       2022                264
213          Kiribati   Oceania        216       2022                181
214             Nauru   Oceania        134       2022                135
215        Montserrat  Americas          —          —                 68
216            Tuvalu   Oceania         66       2022                 55

               World Bank[15][16]
          Year           Estimate  Year
0         2020           96100091  2021
1         2020           22996100  2021
2    [n 3]2020           17734063  2021
3         2020            4937422  2021
4         2020            4223116  2021
..         ...                ...   ...
212       2020                258  2020
213       2020                181  2020
214       2020                133  2021
215       2020                  —     —
216       2020                 63  2021

[217 rows x 8 columns]

In [56]:
pd.read_html(url2)[0]

,Rank,Release Group,Worldwide,Domestic,%,Foreign,%.1
0,1,Top Gun: Maverick,"$1,453,708,229","$705,908,229",48.6%,"$747,800,000",51.4%
1,2,Jurassic World Dominion,"$997,683,265","$375,878,265",37.7%,"$621,805,000",62.3%
2,3,Doctor Strange in the Multiverse of Madness,"$955,775,804","$411,331,607",43%,"$544,444,197",57%
3,4,Minions: The Rise of Gru,"$904,875,970","$362,511,970",40.1%,"$542,364,000",59.9%
4,5,The Batman,"$770,836,163","$369,345,583",47.9%,"$401,490,580",52.1%
...,...,...,...,...,...,...,...
195,196,Mia and Me: The Hero of Centopia,"$3,199,860",-,-,"$3,199,860",100%
196,197,Jana Gana Mana,"$3,135,150",-,-,"$3,135,150",100%
197,198,La brigade,"$3,133,836",-,-,"$3,133,836",100%
198,199,The Night of the 12th,"$3,133,799",-,-,"$3,133,799",100%
199,200,Ante Sundharaniki,"$3,097,334","$620,000",20%,"$2,477,334",80%

in this way we can easily get the tables in one shot. 

Let say now we want to take specific parts

In [81]:
soup_page1 = BeautifulSoup(requests.get(url2).content, 'html.parser')
table1 = soup_page1.find("table")
# table1

# we can extract the table but so far is useless
print(type(soup_page1))
print(type(table1))

<class 'bs4.BeautifulSoup'>
<class 'bs4.element.Tag'>

## Understanding the bs4 object

In [103]:
## what happens if we use select
soup_page1.select('a')
# we get a list based on the css selector
# iterable so that we can extract what we want
for a in soup_page1.find_all('a'):
    print(a["href"])

# same as before
for link in soup_page1.select('a'):
    print(link["href"])

/?ref_=bo_nb_ydw_mojologo
javascript:void(0)
https://pro.imdb.com/login/ap?u=%2Flogin%2Flwa&imdbPageAction=signUp&ref_=mojo_nb_ydw_rollover&rf=mojo_nb_ydw_rollover
javascript:void(0)
https://www.facebook.com/BoxOfficeMojo/
https://twitter.com/boxofficemojo
/date/?ref_=bo_nb_ydw_tab
/intl/?ref_=bo_nb_ydw_tab
/year/world/?ref_=bo_nb_ydw_tab
/calendar/?ref_=bo_nb_ydw_tab
/charts/overall/?ref_=bo_nb_ydw_tab
/showdown/?ref_=bo_nb_ydw_tab
/brand/?ref_=bo_nb_ydw_tab
?sort=rank&ref_=bo_ydw__resort#table
?sort=worldwideGrossToDate&ref_=bo_ydw__resort#table
?sort=domesticGrossToDate&ref_=bo_ydw__resort#table
?sort=domesticGrossToDatePercent&ref_=bo_ydw__resort#table
?sort=foreignGrossToDate&ref_=bo_ydw__resort#table
?sort=foreignGrossToDatePercent&ref_=bo_ydw__resort#table
/releasegroup/gr1928614405/?ref_=bo_ydw_table_1
/releasegroup/gr1700221445/?ref_=bo_ydw_table_2
/releasegroup/gr535450117/?ref_=bo_ydw_table_3
/releasegroup/gr101863941/?ref_=bo_ydw_table_4
/releasegroup/gr2204258821/?ref_=bo_ydw_table_5
/releasegroup/gr4235022853/?ref_=bo_ydw_table_6
/releasegroup/gr1505055237/?ref_=bo_ydw_table_7
/releasegroup/gr1221480965/?ref_=bo_ydw_table_8
/releasegroup/gr614552069/?ref_=bo_ydw_table_9
/releasegroup/gr3224261125/?ref_=bo_ydw_table_10
/releasegroup/gr4112339461/?ref_=bo_ydw_table_11
/releasegroup/gr636375557/?ref_=bo_ydw_table_12
/releasegroup/gr800805381/?ref_=bo_ydw_table_13
/releasegroup/gr3988017669/?ref_=bo_ydw_table_14
/releasegroup/gr2109559301/?ref_=bo_ydw_table_15
/releasegroup/gr1703563781/?ref_=bo_ydw_table_16
/releasegroup/gr1119441413/?ref_=bo_ydw_table_17
/releasegroup/gr2567066117/?ref_=bo_ydw_table_18
/releasegroup/gr2443465221/?ref_=bo_ydw_table_19
/releasegroup/gr1650414085/?ref_=bo_ydw_table_20
/releasegroup/gr2747224581/?ref_=bo_ydw_table_21
/releasegroup/gr2326221317/?ref_=bo_ydw_table_22
/releasegroup/gr4007023109/?ref_=bo_ydw_table_23
/releasegroup/gr683627013/?ref_=bo_ydw_table_24
/releasegroup/gr646468101/?ref_=bo_ydw_table_25
/releasegroup/gr2424984069/?ref_=bo_ydw_table_26
/releasegroup/gr109924869/?ref_=bo_ydw_table_27
/releasegroup/gr448156165/?ref_=bo_ydw_table_28
/releasegroup/gr3435090437/?ref_=bo_ydw_table_29
/releasegroup/gr3062452741/?ref_=bo_ydw_table_30
/releasegroup/gr632705541/?ref_=bo_ydw_table_31
/releasegroup/gr2611827205/?ref_=bo_ydw_table_32
/releasegroup/gr697258501/?ref_=bo_ydw_table_33
/releasegroup/gr1653166597/?ref_=bo_ydw_table_34
/releasegroup/gr331305477/?ref_=bo_ydw_table_35
/releasegroup/gr1907380741/?ref_=bo_ydw_table_36
/releasegroup/gr2374914565/?ref_=bo_ydw_table_37
/releasegroup/gr3954790917/?ref_=bo_ydw_table_38
/releasegroup/gr380064261/?ref_=bo_ydw_table_39
/releasegroup/gr4005450245/?ref_=bo_ydw_table_40
/releasegroup/gr1972195845/?ref_=bo_ydw_table_41
/releasegroup/gr973165061/?ref_=bo_ydw_table_42
/releasegroup/gr411783685/?ref_=bo_ydw_table_43
/releasegroup/gr797463045/?ref_=bo_ydw_table_44
/releasegroup/gr3582939653/?ref_=bo_ydw_table_45
/releasegroup/gr833376773/?ref_=bo_ydw_table_46
/releasegroup/gr2633585157/?ref_=bo_ydw_table_47
/releasegroup/gr3699986949/?ref_=bo_ydw_table_48
/releasegroup/gr800477701/?ref_=bo_ydw_table_49
/releasegroup/gr395006469/?ref_=bo_ydw_table_50
/releasegroup/gr464867845/?ref_=bo_ydw_table_51
/releasegroup/gr931746309/?ref_=bo_ydw_table_52
/releasegroup/gr2542424581/?ref_=bo_ydw_table_53
/releasegroup/gr2475643397/?ref_=bo_ydw_table_54
/releasegroup/gr1149981189/?ref_=bo_ydw_table_55
/releasegroup/gr4119482885/?ref_=bo_ydw_table_56
/releasegroup/gr481645061/?ref_=bo_ydw_table_57
/releasegroup/gr750473733/?ref_=bo_ydw_table_58
/releasegroup/gr1536053765/?ref_=bo_ydw_table_59
/releasegroup/gr2307478021/?ref_=bo_ydw_table_60
/releasegroup/gr143151621/?ref_=bo_ydw_table_61
/releasegroup/gr1787712005/?ref_=bo_ydw_table_62
/releasegroup/gr2645840389/?ref_=bo_ydw_table_63
/releasegroup/gr294146565/?ref_=bo_ydw_table_64
/releasegroup/gr445338117/?ref_=bo_ydw_table_65
/releasegroup/gr213209605/?ref_=bo_ydw_table_66
/releasegroup/gr3045675525/?ref_=bo_ydw_table_67
/releasegroup/gr917787141/?ref_=bo_ydw_table_68
/releasegroup/gr2542490117/?ref_=bo_ydw_table_69
/releasegroup/gr1234129413/?ref_=bo_ydw_table_70
/releasegroup/gr1099518469/?ref_=bo_ydw_table_71
/releasegroup/gr2394182149/?ref_=bo_ydw_table_72
/releasegroup/gr598888965/?ref_=bo_ydw_table_73
/releasegroup/gr3951907333/?ref_=bo_ydw_table_74
/releasegroup/gr1253396997/?ref_=bo_ydw_table_75
/releasegroup/gr2747027973/?ref_=bo_ydw_table_76
/releasegroup/gr1636323845/?ref_=bo_ydw_table_77
/releasegroup/gr45437445/?ref_=bo_ydw_table_78
/releasegroup/gr1753960965/?ref_=bo_ydw_table_79
/releasegroup/gr3753071109/?ref_=bo_ydw_table_80
/releasegroup/gr2257408517/?ref_=bo_ydw_table_81
/releasegroup/gr4270674437/?ref_=bo_ydw_table_82
/releasegroup/gr1921798661/?ref_=bo_ydw_table_83
/releasegroup/gr1620005381/?ref_=bo_ydw_table_84
/releasegroup/gr3163312645/?ref_=bo_ydw_table_85
/releasegroup/gr3347993093/?ref_=bo_ydw_table_86
/releasegroup/gr747328005/?ref_=bo_ydw_table_87
/releasegroup/gr529486341/?ref_=bo_ydw_table_88
/releasegroup/gr3817689605/?ref_=bo_ydw_table_89
/releasegroup/gr2410959365/?ref_=bo_ydw_table_90
/releasegroup/gr4086256133/?ref_=bo_ydw_table_91
/releasegroup/gr1250513413/?ref_=bo_ydw_table_92
/releasegroup/gr4290007557/?ref_=bo_ydw_table_93
/releasegroup/gr62870021/?ref_=bo_ydw_table_94
/releasegroup/gr3082048005/?ref_=bo_ydw_table_95
/releasegroup/gr193614341/?ref_=bo_ydw_table_96
/releasegroup/gr1083134469/?ref_=bo_ydw_table_97
/releasegroup/gr799298053/?ref_=bo_ydw_table_98
/releasegroup/gr4119810565/?ref_=bo_ydw_table_99
/releasegroup/gr1543197189/?ref_=bo_ydw_table_100
/releasegroup/gr2897564165/?ref_=bo_ydw_table_101
/releasegroup/gr1035227653/?ref_=bo_ydw_table_102
/releasegroup/gr1686917637/?ref_=bo_ydw_table_103
/releasegroup/gr2810728965/?ref_=bo_ydw_table_104
/releasegroup/gr1015894533/?ref_=bo_ydw_table_105
/releasegroup/gr1736987141/?ref_=bo_ydw_table_106
/releasegroup/gr126439941/?ref_=bo_ydw_table_107
/releasegroup/gr2106348037/?ref_=bo_ydw_table_108
/releasegroup/gr3649917445/?ref_=bo_ydw_table_109
/releasegroup/gr1250775557/?ref_=bo_ydw_table_110
/releasegroup/gr2058703365/?ref_=bo_ydw_table_111
/releasegroup/gr1469010437/?ref_=bo_ydw_table_112
/releasegroup/gr1183470085/?ref_=bo_ydw_table_113
/releasegroup/gr3582611973/?ref_=bo_ydw_table_114
/releasegroup/gr596136453/?ref_=bo_ydw_table_115
/releasegroup/gr596267525/?ref_=bo_ydw_table_116
/releasegroup/gr2509132293/?ref_=bo_ydw_table_117
/releasegroup/gr1955549701/?ref_=bo_ydw_table_118
/releasegroup/gr2357875205/?ref_=bo_ydw_table_119
/releasegroup/gr3733803525/?ref_=bo_ydw_table_120
/releasegroup/gr1370837509/?ref_=bo_ydw_table_121
/releasegroup/gr279990789/?ref_=bo_ydw_table_122
/releasegroup/gr3247329797/?ref_=bo_ydw_table_123
/releasegroup/gr3750384133/?ref_=bo_ydw_table_124
/releasegroup/gr2176078341/?ref_=bo_ydw_table_125
/releasegroup/gr649351685/?ref_=bo_ydw_table_126
/releasegroup/gr1636651525/?ref_=bo_ydw_table_127
/releasegroup/gr4220408325/?ref_=bo_ydw_table_128
/releasegroup/gr1890931205/?ref_=bo_ydw_table_129
/releasegroup/gr4002042373/?ref_=bo_ydw_table_130
/releasegroup/gr2357744133/?ref_=bo_ydw_table_131
/releasegroup/gr495669765/?ref_=bo_ydw_table_132
/releasegroup/gr1854755333/?ref_=bo_ydw_table_133
/releasegroup/gr2072924677/?ref_=bo_ydw_table_134
/releasegroup/gr1552699909/?ref_=bo_ydw_table_135
/releasegroup/gr160387589/?ref_=bo_ydw_table_136
/releasegroup/gr3582480901/?ref_=bo_ydw_table_137
/releasegroup/gr3014939141/?ref_=bo_ydw_table_138
/releasegroup/gr3062649349/?ref_=bo_ydw_table_139
/releasegroup/gr579359237/?ref_=bo_ydw_table_140
/releasegroup/gr680088069/?ref_=bo_ydw_table_141
/releasegroup/gr93016581/?ref_=bo_ydw_table_142
/releasegroup/gr126702085/?ref_=bo_ydw_table_143
/releasegroup/gr1720406533/?ref_=bo_ydw_table_144
/releasegroup/gr2442088965/?ref_=bo_ydw_table_145
/releasegroup/gr1334596101/?ref_=bo_ydw_table_146
/releasegroup/gr831279621/?ref_=bo_ydw_table_147
/releasegroup/gr814436869/?ref_=bo_ydw_table_148
/releasegroup/gr344805893/?ref_=bo_ydw_table_149
/releasegroup/gr3031257605/?ref_=bo_ydw_table_150
/releasegroup/gr1303597573/?ref_=bo_ydw_table_151
/releasegroup/gr1639272965/?ref_=bo_ydw_table_152
/releasegroup/gr461984261/?ref_=bo_ydw_table_153
/releasegroup/gr532435461/?ref_=bo_ydw_table_154
/releasegroup/gr1183404549/?ref_=bo_ydw_table_155
/releasegroup/gr4018819589/?ref_=bo_ydw_table_156
/releasegroup/gr1770869253/?ref_=bo_ydw_table_157
/releasegroup/gr2089505285/?ref_=bo_ydw_table_158
/releasegroup/gr4203500037/?ref_=bo_ydw_table_159
/releasegroup/gr2629063173/?ref_=bo_ydw_table_160
/releasegroup/gr531976709/?ref_=bo_ydw_table_161
/releasegroup/gr630149637/?ref_=bo_ydw_table_162
/releasegroup/gr109990405/?ref_=bo_ydw_table_163
/releasegroup/gr3566162437/?ref_=bo_ydw_table_164
/releasegroup/gr629821957/?ref_=bo_ydw_table_165
/releasegroup/gr2626310661/?ref_=bo_ydw_table_166
/releasegroup/gr1605456389/?ref_=bo_ydw_table_167
/releasegroup/gr864965125/?ref_=bo_ydw_table_168
/releasegroup/gr1938706949/?ref_=bo_ydw_table_169
/releasegroup/gr1823756805/?ref_=bo_ydw_table_170
/releasegroup/gr3481948677/?ref_=bo_ydw_table_171
/releasegroup/gr1941262853/?ref_=bo_ydw_table_172
/releasegroup/gr3283374597/?ref_=bo_ydw_table_173
/releasegroup/gr2374849029/?ref_=bo_ydw_table_174
/releasegroup/gr160125445/?ref_=bo_ydw_table_175
/releasegroup/gr884232709/?ref_=bo_ydw_table_176
/releasegroup/gr1720209925/?ref_=bo_ydw_table_177
/releasegroup/gr1454723589/?ref_=bo_ydw_table_178
/releasegroup/gr934564357/?ref_=bo_ydw_table_179
/releasegroup/gr1653363205/?ref_=bo_ydw_table_180
/releasegroup/gr3213447685/?ref_=bo_ydw_table_181
/releasegroup/gr2075415045/?ref_=bo_ydw_table_182
/releasegroup/gr2830389765/?ref_=bo_ydw_table_183
/releasegroup/gr1907708421/?ref_=bo_ydw_table_184
/releasegroup/gr548557317/?ref_=bo_ydw_table_185
/releasegroup/gr1300779525/?ref_=bo_ydw_table_186
/releasegroup/gr244273669/?ref_=bo_ydw_table_187
/releasegroup/gr2964673029/?ref_=bo_ydw_table_188
/releasegroup/gr1619874309/?ref_=bo_ydw_table_189
/releasegroup/gr294605317/?ref_=bo_ydw_table_190
/releasegroup/gr4287320581/?ref_=bo_ydw_table_191
/releasegroup/gr344674821/?ref_=bo_ydw_table_192
/releasegroup/gr1854558725/?ref_=bo_ydw_table_193
/releasegroup/gr411652613/?ref_=bo_ydw_table_194
/releasegroup/gr3767292421/?ref_=bo_ydw_table_195
/releasegroup/gr2744078853/?ref_=bo_ydw_table_196
/releasegroup/gr495538693/?ref_=bo_ydw_table_197
/releasegroup/gr1217024517/?ref_=bo_ydw_table_198
/releasegroup/gr3750580741/?ref_=bo_ydw_table_199
/releasegroup/gr1167020549/?ref_=bo_ydw_table_200
https://pro.imdb.com/?ref_=mojo_ft_ydw_prologo&rf=mojo_ft_ydw_prologo
/news/?ref_=bo_ft_ydw_news
/daily/?ref_=bo_ft_ydw_daily
/weekend/?ref_=bo_ft_ydw_weekend
/charts/?ref_=bo_ft_ydw_charts
/intl/?ref_=bo_ft_ydw_intl
/showdown/?ref_=bo_ft_ydw_showdown
https://help.imdb.com/article/imdbpro/industry-research/box-office-by-imdbpro-glossary/GN8HA87MT4597FSW?ref_=mojo_ftr_glossary
https://help.imdb.com/article/imdbpro/industry-research/box-office-mojo-by-imdbpro-user-guide/GUHKUZRL7MQ5T5AZ?ref_=mojo_ftr_guide
https://help.imdb.com/article/imdbpro/industry-research/box-office-mojo-by-imdbpro-faq/GCWTV4MQKGWRAUAP?ref_=mojo_ftr_help
http://www.imdb.com/
/conditions/?ref_=bo_ft_ydw_conditions
/privacy/?ref_=bo_ft_ydw_privacy

In [105]:
# by following that method we can look for the components of the table for example
for i in soup_page1.find_all('th'):
    print(i.text)

Rank
Release Group

Worldwide
Domestic
%
Foreign
%

In [80]:
# taking the structure of bs4.BeautifulSoup class object we can iterate within its components
# 
for child in table1.tr:
    for tr in child: 
        print(tr.text)

Rank
Release Group


Worldwide
Domestic
%
Foreign
%

In [123]:
# let's get now the part of the body 

data = []

for child in soup_page1.find_all('table')[0].children:
    #print(child.text)
    row = []
    for element in child: 
        
        row.append(element.text)

    data.append(row)

In [124]:
pd.DataFrame(data)

,0,1,2,3,4,5,6
0,Rank,Release Group\n,Worldwide,Domestic,%,Foreign,%
1,1,Top Gun: Maverick,"$1,453,708,229","$705,908,229",48.6%,"$747,800,000",51.4%
2,2,Jurassic World Dominion,"$997,683,265","$375,878,265",37.7%,"$621,805,000",62.3%
3,3,Doctor Strange in the Multiverse of Madness,"$955,775,804","$411,331,607",43%,"$544,444,197",57%
4,4,Minions: The Rise of Gru,"$904,875,970","$362,511,970",40.1%,"$542,364,000",59.9%
...,...,...,...,...,...,...,...
196,196,Mia and Me: The Hero of Centopia,"$3,199,860",-,-,"$3,199,860",100%
197,197,Jana Gana Mana,"$3,135,150",-,-,"$3,135,150",100%
198,198,La brigade,"$3,133,836",-,-,"$3,133,836",100%
199,199,The Night of the 12th,"$3,133,799",-,-,"$3,133,799",100%
200,200,Ante Sundharaniki,"$3,097,334","$620,000",20%,"$2,477,334",80%

# Test with e-commerce

In [58]:
## guide https://www.geeksforgeeks.org/scraping-amazon-product-information-using-beautiful-soup/

amazon = 'https://www.amazon.es/s?k=headphones&sprefix=headp%2Caps%2C121&ref=nb_sb_ss_pltr-ranker-retrain-acsession-acceptance_1_5'

In [59]:
HEADERS = ({
    'User-Agent': 'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/44.0.2403.157 Safari/537.36',
    'Accept-Language': 'en-US, en;q=0.5'
})
  
response = requests.get(amazon, headers=HEADERS)
amazon_page = BeautifulSoup(response.text, 'html')

In [187]:
dad = amazon_page.find("div" , {'class' : "s-main-slot s-result-list s-search-results sg-row"})

texts = []
for i in dad.findAll(class_ = "s-result-item"):
    texts.append(i.text)
# difference between find_all and findAll

In [206]:
orderl = []
product = []
price = []
rating = []

for i in range(0,50):
    # flow control to know where it stops
    #orderl.append(i)
    print(f"Executing list value {i}")
    el = amazon_page.find_all("div", attrs = {"data-component-type": "s-search-result"})[i]
    product.append(el.find("h2").text)
    #price might give problems so except --> attribute 0
    try:
        price.append(el.find_all('span', attrs= {"class" :"a-price-whole"})[0].text)
    except:
        price.append(0)
        pass
    try: 
        rating.append(el.find_all('span', attrs= {"class": "a-icon-alt"})[0].text)
    except:
        rating.append(o)
        pass

# da qui devo mettere regexp replace

Executing list value 0
Executing list value 1
Executing list value 2
Executing list value 3
Executing list value 4
Executing list value 5
Executing list value 6
Executing list value 7
Executing list value 8
Executing list value 9
Executing list value 10
Executing list value 11
Executing list value 12
Executing list value 13
Executing list value 14
Executing list value 15
Executing list value 16
Executing list value 17
Executing list value 18
Executing list value 19
Executing list value 20
Executing list value 21
Executing list value 22
Executing list value 23
Executing list value 24
Executing list value 25
Executing list value 26
Executing list value 27
Executing list value 28
Executing list value 29
Executing list value 30
Executing list value 31
Executing list value 32
Executing list value 33
Executing list value 34
Executing list value 35
Executing list value 36
Executing list value 37
Executing list value 38
Executing list value 39
Executing list value 40
Executing list value 41
Executing list value 42
Executing list value 43
Executing list value 44
Executing list value 45
Executing list value 46
Executing list value 47
Executing list value 48
Executing list value 49

In [211]:
# create dataset

def group_in_dataset(columns):
    data = {'order': columns[0], 'products' : columns[1], 'prices':columns[2], 'rating': columns[3]}
    ds = pd.DataFrame(data) 
    return ds

In [212]:
cols = [orderl, product, price, rating]
ds = group_in_dataset(cols)
ds.head()

as Next step will be interesting to:

* know how to limit specifically the search based on all the results
* apply on the dataset some text cleaning in order to effectively get the data clean, for example price ad ratings
* cleaning the products names from keywords that are irrelevant, like "auricolares" etc. 
* importing also the href 

* expand the capability of the scraper into a crawler